.wrapper {
  max-width: 1180px;
  margin: 0 auto;
}

.header {
  background-color: var(--color-background-info);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.header__logo-text {
  font-size: 30px;
  line-height: 30px;
  color: white;
}

.header__list {
  display: flex;
  gap: 40px;
  font-size: 14px;
}

.header__list-menu {
  color: rgb(255 255 255 / 80.6%);
}
