<header class="header">
  <div class="wrapper">
    <nav class="header__nav">
      <div class="header__logo">
        <h2 class="header__logo-text">SneakMax</h2>
      </div>
      <ul class="header__list">
        <li><a class="header__list-menu" href="">Каталог</a></li>
        <li><a class="header__list-menu" href="">О нас</a></li>
        <li><a class="header__list-menu" href="">Подбор товара</a></li>
        <li><a class="header__list-menu" href="">Наша команда</a></li>
        <li><a class="header__list-menu" href="">Доставка и оплата</a></li>
        <li><a class="header__list-menu" href="">Контакты</a></li>
        <li>
          <a class="header__list-menu" href="">Корзина</a>
          <img src="" alt="" />
        </li>
      </ul>
    </nav>
    <div class="header__title">
      <h1 class="header__title-main">Кроссовки известных брендов 
        с доставкой по России и СНГ</h1>
    </div>
  </div>
</header>