*, *::after, *::before {
    font-family: 'Roboto Slab';
    box-sizing: border-box;
}

/* Обёртка */
.wrapper {
  max-width: calc(1180px + (70px*2));
  padding: 0 70px;
}

/* Обычная кнопка */
.btn-default {
  padding: 22px 47px;
  border: 0 ;
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-background-main);
  background-color: var(--color-button-deafuilt);
  transition: background-color .3s;
}

.btn-default:hover {
  background-color: var(--color-button-hover);
}

.btn-default:active {
  background-color: var(--color-button-active);
}

/* Кнопка прозрачная серая */
.btn-default_transparent {
  color: var(--color-text-for-white-background);
  border: 1px solid var(--color-gray);
  background-color: transparent;
  transition: background-color .3s;
}

.btn-default_transparent:hover {
  color: white;
  background-color: var(--color-button-gray-hover);
}

.btn-default_transparent:active {
  color: white;
  background-color: var(--color-button-active);
}

/* Кнопка серая */
.btn-default_gray {
  background-color: var(--color-button-gray-deafuilt);
}
.btn-default_gray:hover {
  background-color: var(--color-button-gray-hover);
}

.btn-default_gray:active {
  background-color: var(--color-button-active);
}

 /* Стили для чекбокса */
.label {
  display: flex;
  margin: 0;
  padding: 0;
  cursor: pointer;

}

.checkbox {
  display: none;
  margin: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.box {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-text-small);
  border-radius: 4px;
}

.box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: block;
  background-image: url(/src/img/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: .2s;
}

.checkbox:checked + .box::before {
  opacity: 1;
}

.text-box {
  font-size: 16px;
  line-height: 24px;
}

/* Подсказка */
.clue {
  line-height: 30px;
  text-align: center;
  display: inline-block;
  width: 64px;
  height: 32px;
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  color: var(--color-button-gray-deafuilt);
  cursor: pointer;
  transition: all .2s ;
}

.clue:hover {
  border: 1px solid var(--color-button-deafuilt);
} 

/* Подсказка отсудствует товар */
.disabled {
position: absolute;
}

.disabled:hover {
  border-color: #b2b5bb86;
}

.disabled::before {
  position: absolute;
  font-size: 12px;
  width: 95px;
  height: 44px;
  content: attr(data-disabled);
  position: absolute;
  color: white;
  
  background-color: var(--color-button-gray-deafuilt);
}