.wrapper {
  margin: 0 auto;
  max-width: 1180px;
}
.header {
  background-color: var(--color-background-info);
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.header__logo-text {
  color: white;
  font-size: 30px;
  line-height: 30px;
}
.header__list {
  display: flex;
  gap: 40px;
  font-size: 14px;
}
.header__list-menu {
  color: rgba(255, 255, 255, 0.806);
}
